.form-header {
    display: flex;
    justify-content: space-between;
}

.price-container {
    display: flex;
    justify-content: space-between;
}

.image-form{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}